<div class="container">
  <h1>Pedido de repuestos</h1>

  <form ng-submit="submit()" name="form">
    <div class="row">

      <div class="form-group col-md-12">
        <label for="tipoItem">Tipo Item</label>
        <select class="form-control" id="tipoItem" name="tipoItem" ng-model="formulario.tipoItem" ng-options="item for item in items | orderBy:'toString()'">
        </select>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label for="detalle">Detalle</label>
        <input type="text" class="form-control" id="detalle" ng-model="formulario.detalle">
      </div>
    </div>

    <div class="row">

      <div class="form-group col-md-6">
        <label for="destino">Destino</label>
        <select class="form-control" id="destino" ng-model="formulario.destino" ng-options="maquina for maquina in maquinas | orderBy:'toString()'">
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="proveedor">Proveedor</label>
        <input type="text" class="form-control" id="proveedor" ng-model="formulario.proveedor">
      </div>

    </div>

    <div class="row">

      <div class="form-group col-md-3">
        <label for="cantidad">Cantidad</label>
        <input type="number" class="form-control" id="cantidad" ng-model="formulario.cantidad">
      </div>

      <div class="form-group col-md-3">
        <label for="unidad">Unidad</label>
        <select class="form-control" id="unidad" ng-model="formulario.unidad" ng-options="unidad for unidad in unidades | orderBy:'toString()'">
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="muestra">Muestra</label>
        <select class="form-control" id="muestra" ng-model="formulario.muestra">
          <option value="si">si</option>
          <option value="no">no</option>
        </select>
      </div>
    </div>


    <button type="submit" class="btn btn-primary">Aceptar</button>
  </form>

</div>
<br>

<div class="container" ng-show="tabla">
  <!-- <div class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ search }}</p>
  </div> -->

  <form>
   <div class="form-group">
     <div class="input-group">
       <div class="input-group-addon"><i class="fa fa-search"></i></div>
       <input type="text" class="form-control" placeholder="Busqueda" ng-model="search">
     </div>
   </div>

   <div class="form-group">

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="check.completo">
        Completo
      </label><br>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="check.encargado">
        Encargado
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="check.suspendido" >
        Suspendido
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="check.pendiente">
        Pendiente
      </label>
    </div>
  </div>

 </form>

 <p>
   {{check | json}}
 </p>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th ng-repeat="titulo in ['Fecha','Tipo','Detalle','Cantidad','Unidad','Proveedor','Destino','Muestra','Status']"
        ng-click="sort(titulo)">
            {{titulo}}
            <span ng-show="sortType == (titulo | lowercase) && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == (titulo | lowercase) && sortReverse" class="fa fa-caret-up"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="repuesto in repuestos | orderBy:sortType:sortReverse | filter:search | filtroStatus:check">
        <td>{{repuesto.fecha | date :  "dd/MM/yy"}}</td>
        <td>{{repuesto.tipo}}</td>
        <td>{{repuesto.detalle}}</td>
        <td>{{repuesto.cantidad}}</td>
        <td>{{repuesto.unidad}}</td>
        <td>{{repuesto.proveedor}}</td>
        <td>{{repuesto.destino}}</td>
        <td>{{repuesto.muestra}}</td>
        <td>
          <select ng-model="repuesto.status" ng-options="status for status in tipoStatus" ng-change="cambioStatus(repuesto)">
          </select>
        </td>
      </tr>
    </tbody>
  </table>

</div>
